.container{
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  height: 50px;
  background-color: rebeccapurple;
  margin-bottom: 30px;
}

.section{
  width: 100%;
  height: 500px;
  background-color:aquamarine;
}