.container{
  background-color: cadetblue;
  height: 300px;
  display: flex;

  align-content: ;
}

.item{
  background-color: tan;
  border: 1px solid black;
  font-size: 20px;
  margin-right: 5px;
}

.small{
  font-size: 30px;
}

.big{
  font-size: 50px;
}

.order1{
  order:1;
}

.order2{
  order:2;
}

.order3{
  order:3;
}
